@font-face {
  font-family: 'Cursive';
  src: url('fonts/Cursive.ttf') format('woff'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontSemi';
  src: url('fonts/Walkway_UltraBold.ttf') format('woff'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Prime';
  src: url('fonts/Prime-Regular.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inicial{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.home{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252525; 
    color: white;
    border: 0;
    flex-direction: column;
    
}
.home-meio{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20%;
  gap: 65%;
  font-family: 'Prime';
}

.nav-bar{
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 30;
    z-index: 1000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 10%;
    margin-right: 15%;
    background-color: #252525;
}
.nav-item{
  color: aliceblue;
    padding: 0 15px; /* Espaçamento horizontal */
    font-size: 1.5rem;
    font-family: 'Prime', sans-serif;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.parallax {
    background-image: url('eu2.png');  
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.marquee-container {
    width: 100%;          /* Largura total da tela */
    overflow: hidden;
    position: relative;
  }

  /* Estilo do texto que vai rolar */
.marquee {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%; /* Remove o espaçamento inicial */
    font-style: normal;
    font-family: 'MontSemi', sans-serif;
    font-size: 15.5rem;
    animation: marquee 10s linear infinite; /* Ajuste para uma animação linear */
}
.marquee2 {
  /* color: aqua; */
  display: inline-block;
  position:absolute;
  overflow: hidden;
  top: 0;
  white-space: nowrap;
  padding-left: 100%;
  font-style: normal;
  font-family: 'MontSemi', sans-serif;
  font-size: 15.5rem;
  animation: marquee 10s linear infinite;
  animation-delay: 5s;
}

/* Animação do texto rolando */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animar-scroll {

  0%{
    opacity: 0%;
    transform: scale(10px);
  }
  100%{
    opacity: 100%;
    transform: scale(200px)
  }
  
}

@keyframes animar-scroll2 {

  0%{
    opacity: 0%;
    transform: translate(-250px);
  }
  100%{
    opacity: 100%;
    transform: translate(0px)
  }
  
}

#parte2{
  height: 40vh;
  font-family: 'Prime', sans-serif;
  padding: 5% 10% 10%;
  animation: animar-scroll linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

#parte3{
  font-family: 'Prime', sans-serif;
  padding: 5%; 
  animation: animar-scroll2 linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}


.CardProjeto{
  display: flex;
  width: 45%;
  flex-direction: column;
  border-radius: 15px;
  color: aliceblue;
  background-color: #252525;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.CardProjeto:hover{
    padding: 20px;
    border-radius: 15px;
    color: #252525;
    background: rgba(255, 255, 255, 0.3); /* Fundo semi-transparente */
    backdrop-filter: blur(8px); /* Efeito de desfoque para simular o gelo */
    -webkit-backdrop-filter: blur(8px); /* Compatibilidade para Safari */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve para destaque */
    border: 1px solid rgba(255, 255, 255, 0.4); /* Borda sutil para realçar o efeito */

}


.Ctitulo {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2%;
}
.Cmeio{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2% 3% 3%;
  gap: 5%;
  font-size: large;

}
.Cfoto{
  
  background-size: cover;
  width: 50%;
  height: 25vh;
  border-radius: 5%;
}
.Cdescricao{
 width: 50%;
 text-align: justify;
 /* padding: 2%; */ 
 padding-right: 2%;
}

.Cfim{
  padding: 2%;
  display: flex;
  flex-direction: row;
}

.tec{
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 2%;
  padding: 2%;
}

.tec-item{
  width: 50px;
    height: 50px;
  background-image: url("js.png");
  background-size: cover;
  background-color: #999999;
  size: 20px;
  border-radius: 50%;
}

.git{
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: end;
  padding: 0% 2% 2% 0% ;
  gap: 12%;
}

.git-buttom{
  font-size: 15px;
  width: 30%;
  height: 5vh;
  border-radius: 15px;
  background-color: #f0f1ff;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.git-buttom:active {
  transform: scale(0.95); 
  background-color: #3f98fd; 
  border: none;
}

#parte4{
  height: 80vh;
  color: #252525;
  font-family: 'Prime', sans-serif;
  /* background-color: #252525; */
  padding: 5% 10% 10%;

}

.contato-item{
  width: 140px; 
  height: 100px; 
  /* background-color: #f0f1ff; */
  background-size: 100%; 
  background-repeat: no-repeat;
  background-position: center; 
  border-radius: 100%; 
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.final-card{
  position: relative;
  display: flex; 
  flex-direction: row; 
  justify-content: center;
}

.contato-item:hover{
  transform: scale(1.1); 
  
}

#p1{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, rgba(255, 0, 0, 0),rgb(21, 255, 0));
  animation: contatoAnime1 2s  linear infinite;
  
}
#p2{
  position: absolute;
  top:0;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0),rgba(21, 255, 0, 1));
  animation: contatoAnime2 2s linear infinite;
  animation-delay: 1s;
  

}
#p3{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to left, rgba(255, 0, 0, 0),rgba(21, 255, 0, 1));
  animation: contatoAnime3 2s linear infinite;
}
#p4{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 0, 0, 0),rgba(21, 255, 0, 1));
  animation: contatoAnime4 2s  linear infinite;
  animation-delay: 1s;
  
}

@keyframes contatoAnime1 {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(100%);
      
    }
}
@keyframes contatoAnime2 {
    0%{
      
      transform: translatey(-100%);
    }
    100%{
      transform: translatey(100%);
      
    }
}
@keyframes contatoAnime3 {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
      
    }
}
@keyframes contatoAnime4 {
    0%{
      transform: translatey(100%);
    }
    100%{
      transform: translatey(-100%);
      
    }
}


.about{
  height: 70vh;
  color: #252525;
  font-family: 'Prime', sans-serif;
  /* background-color: #252525; */
  padding: 5% 10% 10%;
  gap: 5%;
}


.buttomPd{
  display: flex;
  border-radius: 100%;
  background-color: #ffffff;
  width: 3%;
  height: 6vh;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.buttomPd:hover{
  background-color: #3f98fd;
  transform: scale(1.1);
}

.p2divs{
  padding-top:2%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
}

.imgA{
  width: 400px;
  border-radius: 15px;
}
.p{
  font-size: 1.5rem;
}


@media (max-width: 768px) {
  .buttomPd {
    width: 12%; /* Aumenta a largura em telas menores */
    height: 5vh; /* Ajusta a altura */
  }
  .p2divs{
    flex-direction: column;
  }
  .imgA{
    width: 200px;
    margin-left: 20%;
  }
  .p{
    font-size: 16px;
  }
}